header{
    margin-bottom: 120px;
}
.nav{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    /*background: rgb(244, 191, 94);*/
}

section .center-container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
