
@font-face {
    font-family: Poppins_bold;
    src: url(fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins_semibold;
    src: url(fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins_regular;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}


header {
    margin-bottom: 40px;
}

.nav {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background: linear-gradient(#87CEFA, #00BFFF);
    color: #FFFFFF;
    font-family: "Poppins_bold";
    font-size: 32px;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);

    /*background: rgb(244, 191, 94); */
}

section div {
    margin-bottom: 40px;
}

section .center-container {
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 30px;
    background-color: #f7f9fb;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    /*height: 300px; */

}
.center-container h2{
    font-family: "Poppins_regular";
    font-size: 28px;
}

#texte_ville {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    font-family: "Poppins_regular";
    font-size: 16px;
    border-color: #ccc;
    padding-left: 15px;
    margin-bottom: 5px;
}

#rechercher {
    height: 40px;
    width: 60%;
    background-color: #00BFFF;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins_regular";
    font-size: 16px;
    letter-spacing: 1px;
    
}

#rechercher:hover {
    background-color: #02ade7;
}

.container_result {
    border: 1px solid black;
    padding: 10px;
}

.zz {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 10px;

}

.container_result .carte {
    border: 1px solid black;
    border-radius: 6%;
    overflow: hidden;
    padding: 5px;
}

.container_result .tableau_result {
    border: 1px solid black;
    padding: 10px;
}

.container_result .tableau_result table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.container_result .tableau_result td,
tr {
    text-align: center;
}
